<div class="container-fluid">
  <section>
    <h2>Seattle, WA</h2>
    <h3>Humidity: {{ city.main.humidity }}!</h3>
    <h3>Temperature: (Average): {{ city.main.temp }}</h3>
    <h3>Temperature: (High): {{ city.main.temp_max }}</h3>
    <h3>Temperature: (Low): {{ city.main.temp_min }}</h3>
    <h3>Status: {{ city.weather[0].description }}</h3>
  </section>
  <img
    src="https://images.pexels.com/photos/944636/pexels-photo-944636.jpeg?cs=srgb&dl=architecture-buildings-city-944636.jpg&fm=jpg"
    alt=""
  />
</div>
