<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    ></script>
    <title>Epic Button Game</title>
    <script>
      $(document).ready(function() {
        var socket = io();

        $('#counter-btn').click(function() {
          socket.emit('push_counter', { msg: 'click' });
        });

        $('#reset-btn').click(function() {
          socket.emit('reset_counter', { msg: 'reset' });
        });

        socket.on('updated_counter', function(data) {
          $('#counter').html(data.msg);
        });
      });
    </script>
  </head>
  <body>
    <h1>The Button has been pushed <span id="counter">0</span> Time (s)</h1>
    <h3>Push the button to update the count!</h3>
    <button id="counter-btn">Push the epic button</button>
    <button id="reset-btn">Reset count</button>
  </body>
</html>
