/* * {
  margin: 0 auto;
} */

.container {
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}

table {
  margin: 0 auto;
  border: 5px solid black;
  margin-top: 20px;
  padding: 20px;
  width: 500px;
}

.show-button {
  padding: 5px 10px;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  background-color: rgb(65, 105, 129);
  color: white;
}

.task-button {
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgb(133, 49, 49);
  color: white;
  font-size: 20px;
}
