<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h2>Here's the data you entered!</h2>
      <h3>Name: <%=data.name%></h3>
      <h3>Location: <%=data.location%></h3>
      <h3>Favourite Language: <%=data.language%></h3>
      <h3>Your comment: <%=data.comment%></h3>
      <a href="http://localhost:8000/back" class="button">Go Back</a>
    </div>
  </body>
</html>
