<div class="container-fluid">
  <section>
    <h2>San Hose, CA</h2>
    <h3>Humidity: {{ city.main.humidity }}!</h3>
    <h3>Temperature: (Average): {{ city.main.temp }}</h3>
    <h3>Temperature: (High): {{ city.main.temp_max }}</h3>
    <h3>Temperature: (Low): {{ city.main.temp_min }}</h3>
    <h3>Status: {{ city.weather[0].description }}</h3>
  </section>
  <img
    src="https://images.pexels.com/photos/739047/pexels-photo-739047.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
    alt="WashingtonDC.jpg"
  />
</div>
