<div *ngIf="product">
  <h1>Edit Product</h1>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
    <input type="text" hidden id="_id" formControlName="_id" name="_id" />
    <label for="title"><h3>Title</h3></label>
    <input type="text" id="title" formControlName="title" name="title" />
    <label for="price"><h3>Price</h3></label>
    <input type="number" id="price" formControlName="price" name="price" />
    <label for="url"><h3>Image Url</h3></label>
    <input type="text" id="img" formControlName="img" name="img" />
    <div>
      <button type="submit">
        <span>Save</span>
      </button>
      <button [routerLink]="['/products']">
        Cancel
      </button>
    </div>
  </form>
</div>
