.container {
  text-align: center;
  font-family: monospace;
}

ul li {
  text-decoration: none;
  margin: 7px;
  font-size: 15px;
  font-weight: bold;
  list-style: none;
  display: inline-block;
}

.components {
  margin: 0px auto;
  border: 2px solid black;
  width: 1000px;
  height: 600px;
}
