<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Document</title>
</head>

<body>
    <form action="">
        <!-- Label and text input -->
        <label for="regularInput">Cat Name</label>
        <input type="text" id="regularInput" />

        <!-- Label and textarea -->
        <label for="regularTextarea">Description</label>
        <textarea id="regularTextarea"></textarea>

        <button type="submit">Add Cat</button>

    </form>
</body>

</html>