<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

    <script>
    
    </script>


</head>
<body>
    <div class='container text-center'>
        <div class='p-3 mb-2 bg-warning text-dark">.bg-warning text-center'>
            <h2>Meet with my cute cats!</h3>
        </div>
        <div class="col">
            <a href="http://localhost:8000/cats/luna"><img src="/images/five.jpg" id='cat1' class="rounded-circle" alt="cute cat" width="304" height="250"></a> 
        </div>
        <div class="col">
            <a href="http://localhost:8000/cats/abbey"><img src="/images/four.jpg" id='cat2' class="rounded-circle" alt="cute cat" width="304" height="250"></a>
        </div>
        <div class="col">
            <a href="http://localhost:8000/cats/simba"><img src="/images/six.jpg" id='cat3' class="rounded-circle" alt="cute cat" width="304" height="250"></a>
        </div>
    </div>
</body>
</html>