<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <title>Hompage</title>
  </head>
  <body>
    <h1>Welcome to Homepage</h1>
    <a
      href="/logout"
      class="btn btn-primary btn-lg active"
      role="button"
      aria-pressed="true"
      >logout!</a
    >
  </body>
</html>
