<div class="container-fluid">
  <section>
    <h2>Washington D.C</h2>
    <h3>Humidity: {{ city.main.humidity }}!</h3>
    <h3>Temperature: (Average): {{ city.main.temp }}</h3>
    <h3>Temperature: (High): {{ city.main.temp_max }}</h3>
    <h3>Temperature: (Low): {{ city.main.temp_min }}</h3>
    <h3>Status: {{ city.weather[0].description }}</h3>
  </section>
  <img
    src="http://www.mckinsey.com/~/media/McKinsey/Locations/North%20America/West%20Coast/Seattle/WCO_Seattle_hero_GettyImages-479505626_rf_1536x768_crop-right.ashx?mw=1536&car=546:205&cpx=Right&cpy=Center"
    alt=""
  />
</div>
