<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <title>Quotes</title>
  </head>
  <body>
    <div class="alert alert-info container">
      <h1>Here are the awesome quotes!</h1>
      <% users.forEach(function(user) { %>
      <h3><%= user.quote %></h3>
      <h4><%= user.name %> at <%= user.createdAt.toDateString() %></h4>
      <% }); %>
    </div>
  </body>
</html>
